{% extends 'game/base.html' %}
{% block content %}
<div id='alert'>
</div>
<h1>Population Estimation Game</h1>
<form id="quiz" name="quiz" method="post">{% csrf_token %}
    Введите город <input id="name" type="text">
    Предположите население <input id="population" type="text">
    <input type="submit" value="Оценить" class="btn btn-default">
</form>
<table id="results" class="table table-striped">
    <thead>
        <tr>
            <td>Город</td>
            <td>Ваша оценка</td>
            <td>Население (по Wikipedia)</td>
            <td>Точность оценки</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="average_accuracy">Средняя точность: <span></span></div>
<a class="btn btn-default" id="reset" href="/reset">Обнулить</a>
{% endblock %}

{% block scripts %}
<script>
    function add_guess(value) {
        $('#results').prepend(
                '<tr><td>'+value['name']+'</td><td>'+
                value['guess']+'</td><td>'+
                value['population']+'</td><td>'+
                value['accuracy']+'%'+'</td></tr>'
        )
    }
    function make_a_guess() {
        $.ajax({
            url: "/guess/",
            type: "POST",
            data: {csrfmiddlewaretoken:'{{ csrf_token }}', name: $('#name').val(), population: $('#population').val()},
            success: function (response) {
                add_guess(response['guess']);
                $('#average_accuracy span').text(response['average_accuracy']+'%');
            },

            error: function (xhr, errmsg, err) {
                $('#alert').append(
                        '<div class="alert alert-danger" ><div id="alert-text">Что-то пошло не так!</div></div>'
                );
            }
        });
    }

    function reset() {
         $.ajax({
            url: "/reset/",
            type: "GET",
            success: function (response) {
                $('#alert').append(
                        '<div class="alert alert-success"><div id="alert-text">'+response['message']+'</div></div>'
                );
            },
        });
    }

    $('#reset').on('click', function (event) {
        event.preventDefault();
        reset();
    });

    $('#quiz').on('submit', function (event) {
        event.preventDefault();
        make_a_guess()
    });
</script>
{% endblock %}